# Generic ignores
*.log
*.log.*

# Ignore files created by IDE's
.vscode
.Trash*

# Ignore Mac OS hidden files 
**/.DS_Store

# Ignore deploy folder
/deploy

# Ignore secrets file
/config/secrets.yaml

# Ignore test files
*.bak